.display-image img {
  width: auto;
  height: 600px;;
}
body {
  color: white;
}
.row {
  margin-left: 20%;
  margin-right: 20%;
}
.display-recipe-info {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-family: 'Raleway';
  margin-right: 60px;
}
.display-clickable-recipe{
  margin-top: 10px;
  text-align: center;
}
.display-clickable-recipe p {
  text-align: center;
  display: inline;
  margin-left: 30px;
}
.clickable-recipe-name:hover {
  transition: 1s;
  font-size: 40px;
}
.clickable-recipe-name {
  font-size: 30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-family: 'Permanent Marker';
  color: rgba(0, 198, 255, 1);
  text-shadow: 1px 1px 4px black;
}
.background-image img {
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
  z-index: -2;
  background-color: rgba(0, 0, 0, 4);
}

.overlay {
  transition: 3s;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  z-index: -1;
}
#overlay:hover {
  transition: 3s ease;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.0);
}
.alcoholBottle:hover {
  height: 400px;
}
.alcoholBottle {
    -webkit-transition: opacity 0.3s;
    transition: opacity 2s;
    height: 300px;
    width: auto;
    padding-left: 100px;
    padding-right: 100px;
    vertical-align: top;
}
.container {
margin-top: 75px;
height:500px;
}
.container h2 {
  font-family: 'Kavoon';
  font-size: 60px;
}
#containertest:hover > .alcoholBottle:not(:hover) {
    opacity: 0.3;
    transition: all 1s;
}
/*.container {
margin-top: 75px;
height:600px;
}*/
