.display-recipe-info h2 {
  text-align: center;
  font-size: 35px;
}

.display-recipe-info li {
  list-style: disc;
  font-size: 20px;
}

.rotate:hover {
  transition: 2s;
  -webkit-transform: rotateZ(30deg);
  -ms-transform: rotateZ(30deg);
  transform: rotateZ(30deg);
}

.recipe-bold {
  font-weight: 900;
  font-size: 25px;
}

.display-recipe-info  {
  text-shadow: 2px 2px 4px black;
  font-size: 20px;
  padding: 20px;
  font-family: 'Raleway';
}

h2 {
  text-shadow: 2px 2px 4px rgb(0, 198, 255);;
  text-align: center;
  font-family: 'Kavoon';
  font-size: 60px;
}

body {
  color: white;
}

.speech{
font-family: 'Raleway';
color: white;
margin-top: 3%;
margin-left: 61%;
position: relative;
width: 225px;
height: 140px;
padding: 20px;
background: rgba(0, 0, 0, 0.8);
-webkit-border-radius: 57px;
-moz-border-radius: 57px;
border-radius: 57px;
border: white solid 2px;
}

.speech:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 94px 16px 0;
  border-color: black transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -94px;
  left: 72px;
}

.speech:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 95px 17px 0;
  border-color: white transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -97px;
  left: 71px;
}

#click-bartender {
  margin-right: auto;
  margin-top: 4%;
  margin-left: 53%;
  width: 500px;
  height: 400px;
}

#random-number-button {
  cursor: pointer;
  background-color: rgba(70, 70, 70, 0.6);
  color: white;
  border-color: white;
  width: 60%;
  margin-left: 20%;
  margin-top: 10px;
  margin-right: 20%
  text-align: center;
  font-size: 30px;
}

p {
  font-size: 18px;
}

.display-clickable-recipe li{
  font-family: 'Permanent Marker';
  cursor: pointer;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: rgba(0, 198, 255, 1);
  text-decoration-color:#11B5E4;
  text-align: center;
  font-size: 40px;
}

.display-clickable-recipe li:hover{
  color: white;
  font-size: 50px;
}

#random-number-button:hover {
  background-color: rgba(75, 75, 75, 0.6);
  width: 70%;
  margin-left: 15%;
  margin-right: 15%
  margin-top: 10px;
  font-size: 32px;
}

#display-recipe-group {
  margin-top: 7%;
  margin-left: 7%;
  width: 40%;
  display: none;
  background-color: rgba(70, 70, 70, 0.6);
  border-radius: 10px;
  border:1px solid white;
}

.display-image {
  text-align: center;
}

img {
  height:500px;
  width:auto;
}
