#notTwentyOne {
  font-size: 100px;
  /*padding-top: 50%;*/
  margin-top: 25%;
  text-align: center;
  color: white;
  background-color: red;
}
#confirm-age-section {
  background-image: url(../img/bar.jpg);
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: fixed;

}
#confirm-age-section a {
  border-radius: 10px;
  font-size: 20px;
  border: 3px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  padding: 15px;
  margin-top: 20%;
}
#confirm-age-section a:hover {
  color: rgba(0, 198, 255, 1);
  text-shadow: 1px 1px 4px black;
}

.background-image img {
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
  z-index: -2;
  background-color: rgba(0, 0, 0, 4);
}
.overlay {
  transition: 3s;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  z-index: -1;
}

#overlay:hover {
  transition: 3s ease;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.0);
}

.front-page-button {
  margin-left: 32%;
  text-align: center;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
}
#user-age-question {
  padding: 4%;
  position: fixed;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20%;
  border: 3px solid white;
  z-index: 7;
  color: white;
  background-color: rgba(70, 70, 70, 0.8);
}

.alcoholBottle:hover {
  height: 400px;
}
.alcoholBottle {
    -webkit-transition: opacity 0.3s;
    transition: opacity 2s;
    height: 300px;
    width: auto;
    padding-left: 100px;
    padding-right: 100px;
    vertical-align: top;
}
#containertest:hover > .alcoholBottle:not(:hover) {
    opacity: 0.3;
    transition: all 1s;
}
.container {
margin-top: 75px;
height:600px;
}
.clickable-recipe-name:hover {
  font-size: 30px;
}
.clickable-recipe-name {
  color: rgba(0, 198, 255, 1);
  text-shadow: 1px 1px 2px black;
  font-size: 20px;
}
#random-number-button {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: 2px solid black;
}

.display-recipe-info h2 {
  font-family: 'Satisfy', cursive;
}
.container h2 {
  text-align: center;
  font-family: 'Satisfy', cursive;
}

.navbar-header {
padding-left: 30%;
font-family: 'BioRhyme';
}
